.bw08 {
  border-width: 0.1rem; 
}

.w-15 {
  width: 15%;
}

.defaultcolor {
  color: whitesmoke;
}

.pb10 {
  padding-bottom: 25rem;
}

.colorshiftBlue {
  color: defaultcolor;
  transition: color .15s ease-in;
}

.colorshiftBlue:hover,
.colorshiftBlue:focus {
  color: lightblue;
  transition: color .15s ease-in;
}

.defaultfont {
  font-size: 15px;
}

.page {
  width: 90%;
  margin: 0 auto;
  overflow: hidden;
}

.container {
  overflow: hidden;
  background-color: rgb(141, 189, 236);
}
 
.menu {
  min-height: 10%;
  max-height: 10%;
  background-color: #B2D6FF;    
}

.sidebar {
  float: left;
  width:20%;
  min-height: 30rem;
  max-height: 30rem;
  background-color: #F09A9D;   
}

.content {
  min-height: 38rem;
  max-height: 38rem;
  background-color: rgb(248, 228, 112);
}

.footer {
  height: 300px;        
  background-color: #D6E9FE;    
}

html, body {
  height: 100%;
  width: 100%;
}


/*ul {
    position: sticky;
    top: 0;
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}*/

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
}

.active {
    background-color: #4CAF50;
}

.titlename {
  background-image: radial-gradient(circle, #00ffbc, #a0e470, #dac34b, #fb9e58, #ff7e7e);;
  color: red;
  min-height: 95px;
  max-height: 95px;
  font-size: 5em;
  padding-top: 0px;
  font-family:"Comic Sans MS", cursive, sans-serif;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: black;
}

.helloworldtitle {
  font-family: "Press Start 2P", sans-;
  background-image: none;
  background-color: black;
  padding-top: 20px;
  color: rgb(62, 253, 62);
  min-height: 95px;
  max-height: 95px;
  font-size: 3em;
}

.navbar {
  z-index: 2;    
  position: sticky; top: 0;
  width: 100%;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

.beemoviebg {
  background: url('https://i.ytimg.com/vi/OqijL4jVrY8/maxresdefault.jpg') no-repeat center center; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.beemovietitle {
  position: absolute;
  z-index: 1;
  font-family: 'Comic Sans MS', cursive, sans-serif;
  font-size: 48pt;
  color: yellow;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.zoom_image
{
  display: block;
  padding: 10px 10px 10px 10px;
  position:relative;
  width:100px;
  height:80px;
  left:0px;
  top:0px;
  border:1px solid black;
  -webkit-transition: width 0.3s ease,height 0.3s ease,left 0.3s ease,top 0.3s ease;
}

.zoom_image:hover
{
  width:500px;
  height:480px;
  left:-25px;
  top:-25px;
  z-index:9999;
}